<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <title>Dar de alta un lote</title>
</head>
<body>
    <ul>
        <li><a href="/adm/panel">Volver al panel principal</a></li>
    </ul>
    <h1>Alta de nuevos lotes</h1>
    <p>
        Estos son todos los productos de la organización en conjunto con su stock actual.<br>
        En caso de necesitar reabastecer o registrar la llegada de un lote, por favor use la funcionalidad denotada abajo.
    </p>
    <table>
      <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Stock restante</th>
          <th>Acciones</th>
      </tr>
      <tr th:each="stock : ${stocks}">
          <td th:text="${stock.producto.nombre}"></td>
          <td th:text="${stock.producto.codigo}"></td>
          <td th:text="${stock.cantidadStock}"></td>
          <td>
              <form action="/adm/lote/alta/sent" method="POST">
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <label>Cantidad recibida: </label><input type="number" name="cantidadRecibida" />
                  <label>Precio de compra: </label><input type="number" name="precioDeCompra" />
                  <label>Proveedor: </label><input type="text" name="proveedor" />
                  <button type="submit">Reabastecer</button>
                  <input type="hidden" name="idStock" th:value="${stock.idStock}" />
              </form>
          </td>
      </tr>
    </table>
</body>
</html>